div {
  background-color: crimson;
}

img {
  margin: 15px;
  background-color: yellow;
  border-width: 2px;
  border-color: black;
  border-style: solid;
}

/* el margin (margen) marca la distancia entre el borde de la imagen y otro elemento que la rodee, ningún otro elemento va a estar dentro de esa distancia del elemento de la imagen */